.centers-container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 43rem;
    align-items: start;
    justify-content: start;
}
.center-style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem; 
    height: 5rem; 
    border-radius: 5px;
    border: 1px solid #333;
    margin: 0.5rem; 
    overflow: hidden;
    background: none;
    cursor: pointer;
    flex-shrink: 0; 
    flex-grow: 0;
}
.image-center-style{
    width: 4rem;
    height: 4rem;
}
.selected{
    border: 1px solid orange;
}